<div class="comment">
  <% @post.post_comments.each do |post_comment| %>
    <div>
      <%= link_to user_path(post_comment.user_id) do %>
        <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "40x40", class: "hover10 mt-3 rounded-circle"; %>
        <%= post_comment.user.name %>
      <% end %>
    </div>
    <%= post_comment.created_at.in_time_zone('Tokyo') %><br>
    <%= post_comment.comment %>
    <% if post_comment.user == current_user %>
        <%= link_to post_post_comment_path(post_comment.post, post_comment), method: :delete,data: { confirm: '本当にコメントを削除しますか？' }, class: "destroy_post_comments#{@post.id}", remote: true do %>
          <i class="fas fa-minus-circle"></i>
        <% end %>
    <% end %>
  <% end %>
</div>
<%= form_with(model:[@post, @post_comment], remote: true) do |f| %>
  <div class="col-md-12"><br>
    <%= f.text_field :comment, placeholder: "コメントする" %>
    <%= f.submit "送信", class: 'btn_design btn btn-sm btn-success' %>
  </div>
<% end %>