<% if users.exists? %>
<table class="table table-hover">
  <thead class="table-dark">
    <tr class="follow">
      <th>image</th>
      <th>name</th>
      <th>フォロー数</th>
      <th>フォロワー数</th>
    </tr>
  </thead>

  <% users.each do |user| %>
    <tbody>
      <tr class="table-active">
        <td>
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50", class:"hover10 mt-3 rounded-circle"; %>
          <% end %>
        </td>
        <td class="line" style="color: white;">
          <%= link_to user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="line" style="color: white;">
          <%= link_to follows_user_path(user) do %>
          （ <%= user.followings.count %> ）
          <% end %>
        </td>
        <td class="line" style="color: white;">
          <%= link_to followers_user_path(user) do %>
          （ <%= user.followers.count %> ）
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
<% else %>
  <p class="font" style="color: white;">ユーザーはいません</p>
<% end %>