<div class="img"><br>
  <div class='container mt-5'>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 style="color: white;">-User Page-</h2><br>
      </div>
    </div>
      <div class='col-sm-12 text-center'>
        <p class="image">
          <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg", size: "200x200", class:"mt-3 rounded-circle"; %>
        </p>
      </div>
        <div class="col-sm-8 text-center mx-auto mt-4">
          <tr>
            <% if current_user.following?(@user) %>
              <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
            <% end %>
          </tr>
          <table class='table table-bordered' style="margin-top: 10px;">
            <tr>
        	    <th class="table-dark" style="color: white;">ユーザー名</th>
        	    <th style="color: white;"><%= @user.name %></th>
            </tr>
            <tr>
      	      <th class="table-dark" style="color: white;">自己紹介</th>
      	      <th style="color: white;"><%= @user.introduction %></th>
            </tr>
            <tr>
              <th class="table-dark" style="color: white;">フォロー中</th>
              <th id="count"><%= link_to @user.followings.count, follows_user_path(@user) %></th>
            </tr>
            <tr>
              <th class="table-dark" style="color: white;">フォロワー</th>
              <th><%= link_to @user.followers.count, followers_user_path(@user) %></th>
            </tr>
          </table>
          <div>
            <%= link_to edit_user_path(@user), class: "btn btn-info col-md-6", method: :get do %>
             <i class="fas fa-cog"></i>
            <% end %>
          </div>
        </div>
      <%= render 'posts/post' %>
  </div><br>
</div>
