<div class="post_mouseover card-list-containar">
  <% @posts.each do |post| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to post_path(post.id) do %>
        <div class="btn02 rotatefront">
          <span><%= post.title %></span><span><%= post.title %>の詳細へ進む</span>
        </div>
    <% end %>
    <div class "col-md-12">
      <%= link_to user_path(post.user) do %>
        <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size: "50x50", class:"hover10 mt-3 rounded-circle"; %>
        <span class="user_name"><%= post.user.name %></span>
      <% end %>
    </div>
    <%= link_to post_path(post.id) do %>
      <div class="post_address">
        <h6><i class="fas fa-map-marked-alt"></i><%= post.address %></h6>
      </div>
    <% end %>
    <div class="post_image">
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag post, :image, class:"card-img-top"; %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <td>
            <%= render "favorites/favo", post: post %>
          <%= link_to post_path(post.id) do %>
            <i class="fas fa-comment"></i>
          <% end %>
          <%= post.post_comments.count %>件のコメント
          <span><i class="fab fa-algolia"></i><%= post.created_at.in_time_zone('Tokyo') %></span>
          </td>
        </div>
        <div id="post_body">
          <div class="col-md-12"><br>
            <p class="card-text"><%= post.body %></p><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
